<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="个人博客,blog">
    <meta name="author" content="董沅鑫,AsuraDong">
    <base target="_blank">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="C:\Users\Asura\Desktop\Codes\myPage\VueJS\vue.js"></script>
    <title>首页</title>
</head>

<body>

    <div class="header">
        <div class="header-logo">
            <h1>AsuraDong.Com<sup>&nbsp;&nbsp;&nbsp;CN</sup></h1>
        </div>
        <ul>
            <li>
                <img src="image/more.png">
            </li>
            <li>
                <a href="#"><img src="image/github.png"></a>
            </li>
            <li>
                <a href="#"><img src="image/download.png"></a>
            </li>
            <li>
                <a href="#"><img src="image/intrest.png"></a>
            </li>
        </ul>
    </div>
    <div class="searcher">
        <hr/>
        <center>
            <a href="#" id="index">Home</a>&nbsp;|
            <a href="#">Blog</a>&nbsp;|
            <a href="#">Contact</a>&nbsp;|
            <a href="#">About</a>&nbsp;|
            <a href="#">More</a>
        </center>
    </div>
    <br/>
    <center>
        <div class="content">
            <p class="first">Welcome&nbsp;To&nbsp;My&nbsp;Site</p>
            <br/>
            <p class="second">Asura&nbsp;Dong&nbsp;Write</p>
            <br/><br/>
            <div class="wrap-news">
                <div class="news">
                    <img src="image/news1.jpg" />
                    <br/><br/>
                    <a>TIME >></a>
                </div>
                <div class="news">
                    <img src="image/news2.jpg" />
                    <br/><br/>
                    <a>FOOD >></a>
                </div>
                <div class="news">
                    <img src="image/news3.jpg" />
                    <br/><br/>
                    <a>ARMY >></a>
                </div>
                <div class="news">
                    <img src="image/news4.jpg" />
                    <br/><br/>
                    <a>CODE >></a>
                </div>
            </div>
        </div>
    </center>
    <center>
        <br/><br/>
        <div class="footer">
            <hr/>
            <p>I'm&nbsp;glad&nbsp;to&nbsp;communicate.</p>
            <p>Address:China&nbsp;GuangDong&nbsp;Province&nbsp;ShenZhen</p>
            <p>Email:xiaochiyijiu@163.com</p>
            <p>WeChat:IT_xxx</p>
        </div>
    </center>
</body>

</html>