{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block searcher %}
<div class="searcher">
        <hr/>
        <center>
            <a href="../home" target="_self">Home</a>&nbsp;|
            <a href="../blog"target="_self">Blog</a>&nbsp;|
            <a href="../contact" id="index" target="_self">Contact</a>&nbsp;|
            <a href="../about" target="_self">About</a>&nbsp;|
            <a href="../more" target="_self">More</a>
        </center>
   </div>
{% endblock %}
{% block content %}
BLOG CONTENT
{% endblock %}
