{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="个人博客,blog">
    <meta name="author" content="董沅鑫,AsuraDong">
    <base target="_blank">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <title>{%block title%}{%endblock%}</title>
</head>

<body>

    <div class="header">
        <div class="header-logo">
            <h1>AsuraDong.Com<sup>&nbsp;&nbsp;&nbsp;CN</sup></h1>
        </div>
        <ul>
            <li>
                <img src="{% static "image/more.png"%}">
            </li>
            <li>
                <a href="#"><img src="{% static "image/github.png"%}"></a>
            </li>
            <li>
                <a href="#"><img src="{% static "image/download.png"%}"></a>
            </li>
            <li>
                <a href="#"><img src="{% static "image/intrest.png"%}"></a>
            </li>
        </ul>
    </div>
    	{% block searcher %}
	{% endblock %}
    <br/>
    <center>
        {% block content %}
	{% endblock %}
    </center>
    <center>
        <br/><br/>
        <div class="footer">
            <hr/>
            <p>I'm&nbsp;glad&nbsp;to&nbsp;communicate.</p>
            <p>Address:China&nbsp;GuangDong&nbsp;Province&nbsp;ShenZhen</p>
            <p>Email:xiaochiyijiu@163.com</p>
            <p>WeChat:IT_xxx</p>
        </div>
    </center>
</body>

</html>